<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  
    <link rel="stylesheet" href="~/css/Admin.css" asp-append-version="true" />
  <title>Botones</title>
</head>
<body>
  <button class="ver-cuentas">Ver cuentas</button>
  <button class="ver-transacciones">Ver transacciones</button>
  <button class="anadir-productos">Añadir productos</button>
  <button class="ofertas">Ofertas</button>
</body>
</html>