<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>STORM</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/myapp.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a asp-controller="Home" asp-action="Index"> 
                <img class="txt-logo" src="/images/Logotipo para Tecnología y Juegos  Verde Moderno_v2.png"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                   </li>
                        <!--<partial name="_MenuAdminPartial" />                -->
                    <ul class="navbar-nav flex-grow-1">
                      <partial name="_LoginPartial" /></ul>
                </div>
                <div class="navbar-collapse collapse d-sm-inline-flex">
  <form class="d-flex searchbar" asp-controller="Catalogo" asp-action="Index">
    <input class="form-control me-2 searchbar" type="search" name="searchString" placeholder="Buscar" aria-label="Buscar">
    <button class="btn btn-outline-light searchbar" type="submit">Buscar</button>
  </form>
</div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    
<footer class="container-fluid bg-purple p-3">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-6 text-center text-md-left">
      <p class="mb-0 info"> FeelTheStorm@gmail.com</p>
      <p class="mb-0 info">+51 45465465</p>
      <p class="mb-0 info"> Lima, Peru</p>
    </div>
    <div class="col-md-6 text-center text-md-right">
      <a href="https://www.facebook.com/people/Health-Technology/100067481210622/?viewas&show_switched_toast=false&show_switched_tooltip=false&is_tour_dismissed=false&is_tour_completed=false&show_podcast_settings=false&show_community_transition=false&show_community_review_changes=false&should_open_composer=false&badge_type=NEW_MEMBER&show_community_rollback_toast=false" class=" mx-2" target="_blank"><img src = "https://static.wixstatic.com/media/e316f544f9094143b9eac01f1f19e697.png/v1/fill/w_49,h_49,al_c,usm_0.66_1.00_0.01,enc_auto/e316f544f9094143b9eac01f1f19e697.png" class="img-social btn-social" ></a>
      <a href="https://www.youtube.com/channel/UCrQuxmcgsxyRlW5QkkYVt5A" class="mx-2" target="_blank"><img src = "https://static.wixstatic.com/media/a1b09fe8b7f04378a9fe076748ad4a6a.png/v1/fill/w_49,h_49,al_c,usm_0.66_1.00_0.01,enc_auto/a1b09fe8b7f04378a9fe076748ad4a6a.png" class="img-social btn-social"></a>
    </div>
  </div>
</footer>
  
  
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)


</body>
</html>
