<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>STORM</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/myapp.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a asp-controller="Home" asp-action="Index"> 
                <img class="txt-logo" src="/images/Logotipo para Tecnología y Juegos  Verde Moderno_v2.png"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Catalogo" asp-action="Index">Tienda</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Registro" asp-action="InicioSesion">Cuenta</a>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Nosotros">Nosotros</a>
                        </li>
                         <li class="nav-item inicio">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Registro" asp-action="InicioSesion">Iniciar Sesion</a>
                        </li>
                         <li class="nav-item registro">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Registro" asp-action="Registro">Registro</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

   <footer>
      <div class="main-content">
        <div class="left box">
          <h2>Nosotros</h2>
          <div class="content">
            <p>Somos el grupo Storm del curso de Programación I de la universidad 
	   San Martin de Porres que se ha puesto como objetivo la realización de una tienda de venta de videojuegos digitales y físicos en el que podamos brindarles una opción amigable e intuitiva a
	     los distintos usuarios que utilicen nuestra página web.</p>
          </div>
        </div>

        <div class="center box">
          <h2>Ubicación</h2>
          <div class="content">
            <div class="place">
              <span class="fas fa-map-marker-alt"></span>
              <span class="text">Lima, Peru</span>
            </div>
            <div class="phone">
              <span class="fas fa-phone-alt"></span>
              <span class="text">+51 45465465</span>
            </div>
            <div class="email">
              <span class="fas fa-envelope"></span>
              <span class="text">FeelTheStorm@gmail.com</span>
            </div>
          </div>
        </div>

        <div class="right box">
          <h2>REDES SOCIALES</h2>
          <div class="content">
          	<div class="social">
				<a href="https://www.facebook.com/people/Health-Technology/100067481210622/?viewas&show_switched_toast=false&show_switched_tooltip=false&is_tour_dismissed=false&is_tour_completed=false&show_podcast_settings=false&show_community_transition=false&show_community_review_changes=false&should_open_composer=false&badge_type=NEW_MEMBER&show_community_rollback_toast=false" target="blank">
					<img alt="" src="https://static.wixstatic.com/media/e316f544f9094143b9eac01f1f19e697.png/v1/fill/w_49,h_49,al_c,usm_0.66_1.00_0.01,enc_auto/e316f544f9094143b9eac01f1f19e697.png">
				</a>
				<a href="https://www.youtube.com/channel/UCrQuxmcgsxyRlW5QkkYVt5A" target="blank">
					<img alt="" src="https://static.wixstatic.com/media/a1b09fe8b7f04378a9fe076748ad4a6a.png/v1/fill/w_49,h_49,al_c,usm_0.66_1.00_0.01,enc_auto/a1b09fe8b7f04378a9fe076748ad4a6a.png">
				</a>
            </div>
          </div>
        </div>
      </div>
      <div class="bottom">
        <center>
          <span class="credit">© 2023 by Storm</span>
        </center>
      </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
