/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #0077cc;
}

.btn-primary {
  color: #fff;
  background-color: orange;
  border-color: green;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

footer{
  background: #212226;
  padding: 20px;
  color: white;
  position: fixed;
  bottom: 0;
}    
.main-content{
display: flex;
}
.main-content .box{
flex-basis: 50%;
padding: 0px 20px;
}
.box h2{
font-size: 1.125rem;
font-weight: 600;
text-transform: uppercase;
}
.box .content{
margin: 20px 0 0 0;
position: relative;
}
.box .content:before{
position: absolute;
content: '';
top: -10px;
height: 2px;
width: 100%;
background: #1a1a1a;
}/*linea negra del footer */
.box .content:after{
position: absolute;
content: '';
height: 2px;
width: 15%;
background: #1f2f52;
top: -10px;
}/* linea del footer*/
.left .content p{
text-align: justify;
}/* letra de la izquierda del footer*/
.center .content .fas{
font-size: 1.4375rem;
background: #1a1a1a;
line-height: 45px;
text-align: center;
border-radius: 50%;
transition: 0.3s;
cursor: pointer;
padding-left: 15px;
}/*imagenes a poner telefono, email, simbolo de ubi */
.center .content .text{
font-size: 1.0625rem;
font-weight: 500;
padding-left: 10px;
}
.bottom center{
padding-bottom: 5px;
font-size: 0.850rem;
color: gray;
 /* copy de la empresa*/
}

