/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

nav{
  max-width: 100%;
  right: 0;
}
a {
  color: #0077cc;
}

.btn-primary {
  color: #fff;
  background-color: orange;
  border-color: green;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}


footer {
  color: #fff;
  font-size: 0.9rem;
  letter-spacing: 1px;
  position: fixed;
  bottom: 0;
  width: 100%;
  
}

.info{
  left: 0 !important;
  margin-left: 0% !important;
  text-align: left !important;
}

.searchbar{
  float: right;
  margin: auto;
}

.btn-social {
  color: #fff;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  transition: all 0.3s ease-in-out;
  right: 0;
}

.img-social{
  border-radius: 50%;
  right: 0;
  float:right;
  margin-left: 10px;
}

.btn-social:hover {
  transform: scale(1.1);
}

.bg-purple {
  background-color: #282828;
}


@media screen and (max-width: 575px) {
  .txt-logo {
    display: block;
    margin: 0 auto;

  }
}