<!DOCTYPE html>
<html>
<head>
	<title>Sección dividida</title>
</head>
<body>
    <div class="row presentacion">
						<div class="col-md-6">
						<br>
							<img src="/images/acv.png" alt="First slide">

					</div>
                    <div class="col-md-6">
						<br> 
						<h1 align="center">Titulo del juego</h1>
	   <p>Ponte en la piel de Eivor, una leyenda vikinga en busca de gloria. Saquea a tus enemigos, haz prosperar tu asentamiento y consolida tu poder político.</p>
          <p>FECHA DE LANZAMIENTO: 6 DIC 2022</p>  
          <p>DESARROLLADOR: Ubisoft Montreal</p>  
          <p>EDITOR: Ubisoft</p> 

                        </div>
                        </div>
        <div class="descripcion" >
            <br> 
            <h3>Comprar Assassin's Creed Valhalla</h3>
                <h3>Precio: </h3>
			<h3>S/.329.92</h3>
            <button>COMPRAR</button> <button>AÑADIR AL CARRITO</button>
        </div>
</body>
</html>