
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.7.1/dist/leaflet.css" />
<script src="https://cdn.jsdelivr.net/npm/leaflet@1.7.1/dist/leaflet.js"></script>
@model myapp.Models.Pagos
@{
    ViewData["Title"] = "Pago";
}
 <link rel="stylesheet" href="~/css/Footer.css" asp-append-version="true" />
   <link rel="stylesheet" href="~/css/Edicion.css" asp-append-version="true" />



<h1>@ViewData["Title"]</h1>

    <div class="container">

        <div class="row">
          <div class="col-sm-10 mt-5">
           <form asp-controller="Pago" asp-action="Pagar" id="myForm">
              <div class="form-group row">
                <input type="hidden" asp-for="UserID"/>
                <div>
                  <label asp-for="NombreTarjeta" class="control-label"></label>
                </div>
                <div>
                  <input asp-for="NombreTarjeta" class="form-control" />
                </div>
              </div>
              <div class="form-group row">
                <div>
                  <label asp-for="NumeroTarjeta" class="control-label"></label>
                </div>
                <div>
                  <input asp-for="NumeroTarjeta"  class="form-control" placeholder="9999-9999-9999-9999" data-inputmask="'mask': '9999-9999-9999-9999'" />
                </div>
              </div>        
              <div class="form-group row">
                <div>
                  <label asp-for="DueDateYYMM" class="control-label"></label>
                </div>
                <div>
                  <input asp-for="DueDateYYMM" class="form-control" placeholder="YY/MM" data-inputmask="'mask': '99/99', 'placeholder': 'yy/mm'" />
                </div>
              </div>
              <div class="form-group row">
                <div>
                  <label asp-for="Cvv" class="control-label"></label>
                </div>
                <div>
                  <input asp-for="Cvv" class="form-control" placeholder="999" data-inputmask="'mask': '999', 'placeholder': '999'" />
                </div>
              </div>
              <div class="form-group row">
                <div>
                  <label asp-for="Direccion" class="control-label"></label>
                </div>
                <div>
                 <input asp-for="Direccion" id="direccion" class="form-control" />
                </div>
              </div>
              <div>
                <div>
                  <div id="mapa" style="height: 200px;"></div>
                </div>
              </div>
              <div class="form-group row">
                <div>
                  <label asp-for="Destinatario" class="control-label"></label>
                </div>
                <div>
                  <input asp-for="Destinatario" class="form-control"/>
                </div>
              </div>
              <div class="form-group row">
                <div>
                  <label asp-for="MontoTotal" class="control-label" ></label>
                </div>
                <div>
                  <input asp-for="MontoTotal" id="montoTotal" class="form-control"  data-thousands="," data-decimal="." readonly/>
                </div>
              </div>  
              <div class="form-group row">
                <div class="col-sm-2"></div>
                <div class="b-div">
                  <button type="submit" class="btn btn-primary pagar">Pagar</button> 
                </div>
              </div>
            </form>
            <h1>@ViewData["Message"]</h1>
          </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  // Crea un objeto de mapa Leaflet
  var mymap = L.map('mapa').setView([-12.0464, -77.0428], 13);

  // Crea una capa base utilizando OpenStreetMap
  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: 'Map data © <a href="https://openstreetmap.org">OpenStreetMap</a> contributors',
    maxZoom: 18,
  }).addTo(mymap);

  // Escucha el evento de cambio en el campo de dirección
  var input = document.getElementById('direccion');
  input.addEventListener('change', function() {
    var address = input.value;

    // Utiliza la API de geocodificación de OpenStreetMap (Nominatim) para obtener las coordenadas
    fetch('https://nominatim.openstreetmap.org/search?format=json&q=' + address)
      .then(function(response) {
        return response.json();
      })
      .then(function(data) {
        if (data.length > 0) {
          var lat = parseFloat(data[0].lat);
          var lon = parseFloat(data[0].lon);

          // Centra el mapa en las coordenadas encontradas
          mymap.setView([lat, lon], 13);

          // Crea un marcador en la ubicación encontrada
          var marker = L.marker([lat, lon]).addTo(mymap);
        } else {
          console.log('No se encontraron resultados para la dirección especificada.');
        }
      })
      .catch(function(error) {
        console.log('Error al obtener las coordenadas:', error);
      });
  });

</script>

<script>
  
  document.querySelector("#myForm").addEventListener("submit", handleSubmit);
 
  function handleSubmit(){

      if(document.querySelector("#montoTotal").value === "0.00"){
      event.preventDefault();
      alert("Su pedido ya ha sido pagado, por favor realize otro")
      }
      else{
        alert("Su pedido está en camino, nuestros mejores mensajeros de los 9 reinos se están encargando de ello");
      
      }
  }
  
</script>