<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Sobre Nosotros</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="~/css/Nosotros.css" asp-append-version="true" />
</head>
<body>
<section id="about">
	<div class="about-1">
	   <h1 align="center">Sobre Nosotros</h1>
	   <p>Somos el grupo Storm del curso de Programación I de la universidad 
	   San Martin de Porres que se ha puesto como objetivo la realización de una tienda de venta de videojuegos digitales y físicos en el que podamos brindarles una opción amigable e intuitiva a
	     los distintos usuarios que utilicen nuestra página web.</p>
	</div>
	<div id="about-2">
		<div class="content-box-lg">
		   <div class="container">
		      <div class="row">
		          <div class="col-md-4">
		             <div class="about-item text-center">
						<h3>MISION</h3>
						<hr><p>Ofrecer a nuestros clientes la mejor experiencia en la compra y disfrute de videojuegos, siendo una tienda líder en la industria de los videojuegos. Nos esforzamos por ofrecer un amplio catálogo de productos y servicios de alta calidad, con un excelente servicio al cliente y precios competitivos.</p>
		             </div>
		          </div>
		          <div class="col-md-4">
		             <div class="about-item text-center">
						<h3>VISION</h3>
						<hr>
						<p>Queremos ser la tienda líder en la industria de los videojuegos, reconocida por nuestra calidad, variedad y excelencia en el servicio al cliente. Nos esforzamos por innovar constantemente en nuestros productos y servicios para satisfacer las necesidades de nuestros clientes y ser un referente en la industria. Nos enfocamos en un crecimiento sostenible y rentable, y en ser un lugar de trabajo motivador y enriquecedor para nuestro equipo.
						</p>
		             </div>
		          </div>
		          <div class="col-md-4">
		             <div class="about-item text-center">
						<h3>VALORES</h3>
						<hr>
						<p>Pasión, Equipo, Compromiso, Iniciativa, 
						Flexibilidad, Frescura
						</p>
		             </div>
		          </div> 
		      </div>
		   </div>
		</div>	
	</div>
</section>
<br></br>
</body>
</html>