/* _content/myapp/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-sfcgpkgsl6] {
  white-space: normal !important;
  text-align: center !important;
  word-break: break-all !important;
}

nav[b-sfcgpkgsl6]{
  max-width: 100% !important;
  right: 0 !important;
  
}
a[b-sfcgpkgsl6] {
  color: #0077cc !important;
}

.btn-primary[b-sfcgpkgsl6] {
  color: #fff !important;
  background-color: orange !important;
  border-color: green !important;
}

.nav-pills .nav-link.active[b-sfcgpkgsl6], .nav-pills .show > .nav-link[b-sfcgpkgsl6] {
  color: #fff !important;
  background-color: #1b6ec2 !important;
  border-color: #1861ac !important;
}

.border-top[b-sfcgpkgsl6] {
  border-top: 1px solid #e5e5e5 !important;
}
.border-bottom[b-sfcgpkgsl6] {
  border-bottom: 1px solid #e5e5e5 !important;
}

.box-shadow[b-sfcgpkgsl6] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05) !important;
}

button.accept-policy[b-sfcgpkgsl6] {
  font-size: 1rem !important;
  line-height: inherit !important;
}


footer[b-sfcgpkgsl6] {
  color: #fff !important;
  font-size: 0.9rem !important;
  letter-spacing: 1px !important;
  position: fixed !important;
  bottom: 0 !important;
  width: 100% !important;
  
}

.info[b-sfcgpkgsl6]{
  left: 0 !important;
  margin-left: 0% !important;
  text-align: left !important;
}

.searchbar[b-sfcgpkgsl6]{
  float: right !important;
  margin: auto !important;
}

.btn-social[b-sfcgpkgsl6] {
  color: #fff !important;
  border-radius: 50% !important;
  width: 35px !important;
  height: 35px !important;
  transition: all 0.3s ease-in-out !important;
  right: 0 !important;
}

.img-social[b-sfcgpkgsl6]{
  border-radius: 50% !important;
  right: 0 !important;
  float:right !important;
  margin-left: 10px !important;
}

.btn-social:hover[b-sfcgpkgsl6] {
  transform: scale(1.1) !important;
}

.bg-purple[b-sfcgpkgsl6] {
  background-color: #282828 !important;
}


@media screen and (max-width: 575px) {
  .txt-logo[b-sfcgpkgsl6] {
    display: block !important;
    margin: 0 auto !important;

  }
}

.navbar-collapse[b-sfcgpkgsl6]{
  padding: 5px !important;
  margin-right: 5vw !important;
}

.socials[b-sfcgpkgsl6]{
  right: 7% !important;
}
