h1{
    color:#e5e5e5;
}

p{
    color:#e5e5e5;
}

h3{
    color:#e5e5e5;
}


.border{
    margin-bottom: 20%;
    visibility: hidden;
}
body {
    background: linear-gradient(to bottom, #8a2be2, #4b0082);
    background-size: cover;
  }
